+comment('general style')
+ic

+comment("home page style")

.navbar-poly
  position: relative
  width: 1184px
  height: 1356px
  margin: 
    top: 117px
    bottom: 117px
    left: auto
    right: auto
  &__link
    color: #fff
    &:hover,
    &:focus
      color: #fff
      text-decoration: none
  &__item
    position: absolute
    display: block
    width: 330px
    height: 280px
    font-size: 0
    line-height: 288px
    text-align: center
    +transition(all .3s ease-out)
    &:hover
      z-index: 10
    &:before,
    &:after
      content: ''
      +coverdiv
      background-color: inherit
    &:before
      +transform(skewX(30deg))
      left: -83px
    &:after
      +transform(skewX(-30deg))
      right: -83px
      left: auto
    &--center
      width: 566px
      height: 326px
      top: 510px
      left: 304px
      background-color: #00712d
      line-height: 332px
      &:hover
        +transform(scale(1.25))
      &:before,
      &:after
        content: ''
        +coverdiv
        background-color: inherit
      &:before
        +rotate(60)
      &:after
        +rotate(-60)
    &--1
      top: 146px
      left: 200px
      +rotate(-30)
      background-color: #cd0053
      &:hover
        +transform(rotate(-30deg) scale(1.25))
    &--2
      top: 148px
      left: 646px
      +rotate(30)
      background-color: #ea7917
      &:hover
        +transform(rotate(30deg) scale(1.25))
    &--3
      top: 530px
      left: -24px
      +rotate(-90)
      background-color: #ecb500
      &:hover
        +transform(rotate(-90deg) scale(1.25))
    &--4
      top: 531px
      left: 869px
      +rotate(90)
      background-color: #ca0426
      &:hover
        +transform(rotate(90deg) scale(1.25))
    &--5
      top: 921px
      left: 200px
      +rotate(210)
      background-color: #8d2a78
      &:hover
        +transform(rotate(210deg) scale(1.25))
    &--6
      top: 921px
      left: 646px
      +rotate(-210)
      background-color: #35a4af
      &:hover
        +transform(rotate(-210deg) scale(1.25))
  &__text
    position: relative
    display: inline-block
    vertical-align: middle
    width: 135%
    left: -60px
    right: -60px
    font: 600 40px/50px sans-serif
    text-transform: uppercase
    overflow: hidden
    word-wrap: break-word
    z-index: 9
    &--center
      width: auto
      left: auto
      right: auto
    &--1
      font-size: 61px
      line-height: 61px
    &--2
    &--3
    &--4
    &--5,
    &--6
      +rotate(180)
+r(320)

  .navbar-poly
    width: $width * $coef_1
    height: $height * $coef_1
    margin: 
      top: 117px * $coef_1
      bottom: 117px * $coef_1
    &__item
      width: 330px * $coef_1
      height: 280px * $coef_1
      line-height: 288px * $coef_1
      &:before
        left: -83px * $coef_1
      &:after
        right: -83px * $coef_1
      &--center
        width: 566px * $coef_1
        height: 326px * $coef_1
        top: 510px * $coef_1
        left: 304px * $coef_1
        line-height: 332px * $coef_1
        &:before,
        &:after
          left: 0
      &--1
        top: 146px * $coef_1
        left: 200px * $coef_1
      &--2
        top: 148px * $coef_1
        left: 646px * $coef_1
      &--3
        top: 530px * $coef_1
        left: -24px * $coef_1
      &--4
        top: 531px * $coef_1
        left: 869px * $coef_1
      &--5
        top: 921px * $coef_1
        left: 200px * $coef_1
      &--6
        top: 921px * $coef_1
        left: 646px * $coef_1
    &__text
      width: 135%
      left: -60px * $coef_1
      right: -60px * $coef_1
      font: 600 #{40px * $coef_1}/#{50px* $coef_1} sans-serif
      &--center
        width: auto
        left: auto
        right: auto
      &--1
        font-size: 61px * $coef_1
        line-height: 61px * $coef_1
+r(450)

  .navbar-poly
    width: $width * $coef_2
    height: $height * $coef_2
    margin: 
      top: 117px * $coef_2
      bottom: 117px * $coef_2
    &__item
      width: 330px * $coef_2
      height: 280px * $coef_2
      line-height: 288px * $coef_2
      &:before
        left: -83px * $coef_2
      &:after
        right: -83px * $coef_2
      &--center
        width: 566px * $coef_2
        height: 326px * $coef_2
        top: 510px * $coef_2
        left: 304px * $coef_2
        line-height: 332px * $coef_2
        &:before,
        &:after
          left: 0
      &--1
        top: 146px * $coef_2
        left: 200px * $coef_2
      &--2
        top: 148px * $coef_2
        left: 646px * $coef_2
      &--3
        top: 530px * $coef_2
        left: -24px * $coef_2
      &--4
        top: 531px * $coef_2
        left: 869px * $coef_2
      &--5
        top: 921px * $coef_2
        left: 200px * $coef_2
      &--6
        top: 921px * $coef_2
        left: 646px * $coef_2
    &__text
      width: 135%
      left: -60px * $coef_2
      right: -60px * $coef_2
      font: 600 #{40px * $coef_2}/#{50px* $coef_2} sans-serif
      &--center
        width: auto
        left: auto
        right: auto
      &--1
        font-size: 61px * $coef_2
        line-height: 61px * $coef_2
+r(768)

  .navbar-poly
    width: $width * $coef_3
    height: $height * $coef_3
    margin: 
      top: 117px * $coef_3
      bottom: 117px * $coef_3
    &__item
      width: 330px * $coef_3
      height: 280px * $coef_3
      line-height: 288px * $coef_3
      &:before
        left: -83px * $coef_3
      &:after
        right: -83px * $coef_3
      &--center
        width: 566px * $coef_3
        height: 326px * $coef_3
        top: 510px * $coef_3
        left: 304px * $coef_3
        line-height: 332px * $coef_3
        &:before,
        &:after
          left: 0
      &--1
        top: 146px * $coef_3
        left: 200px * $coef_3
      &--2
        top: 148px * $coef_3
        left: 646px * $coef_3
      &--3
        top: 530px * $coef_3
        left: -24px * $coef_3
      &--4
        top: 531px * $coef_3
        left: 869px * $coef_3
      &--5
        top: 921px * $coef_3
        left: 200px * $coef_3
      &--6
        top: 921px * $coef_3
        left: 646px * $coef_3
    &__text
      width: 135%
      left: -60px * $coef_3
      right: -60px * $coef_3
      font: 600 #{40px * $coef_3}/#{50px* $coef_3} sans-serif
      &--center
        width: auto
        left: auto
        right: auto
      &--1
        font-size: 61px * $coef_3
        line-height: 61px * $coef_3